@rendermode InteractiveServer

<h1 class="d-flex justify-content-center my-4">@SurveyData.Title</h1>
@foreach(var question in SurveyData.Questions.Skip(SurvayPage).Take(1)) 
{
	<QuestionPrompt Question="question" OnSubmit="Submit" />
}

<button class="btn btn-dark" @onclick="PrevPage">Prev</button>
<button class="btn btn-success" @onclick="NextPage">Next</button>

@markup1;
@markup2;
@code {
	MarkupString markup1;
	MarkupString markup2;
	private void Submit(QuestionModel question) 
	{
		this.markup1 = new($"<h1>{question.Text}</h1>");
		this.markup2 = new($"<h2>{String.Join(',', question.Options)}</h2>");
	}
}