@page "/drop"
@rendermode InteractiveServer
@inject IJSRuntime JS


<div class="custom-filedrop">
    <label for="InputFile">@dragStatus</label>
    <InputFile id="InputFile"
    OnChange="FilesDropped" 
    @ondragover="OnDragOver"
    @ondragleave="OnDragLeave"
    accept="@(String.IsNullOrEmpty(FileExtensions) ? "" : FileExtensions)"
    />
</div>



